@model cursach.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account", new {@class="form-horizontal"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <div class="form-group col-sm-8">
            @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control", placeholder = "Old password"})
            <p class="help-block">@Html.ValidationMessageFor(m => m.OldPassword)</p>
            @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control", placeholder = "New password"})
            <p class="help-block">@Html.ValidationMessageFor(m => m.NewPassword)</p>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
            <p class="help-block">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
            <input class="btn btn-primary" type="submit" value="Edit password" />
        </div>
    </fieldset>
}
